* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 26, 121, 1) 13%, rgba(0, 212, 255, 1) 100%);
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #b1d7f0;
    width: 90%;
    max-width: 800px;
    border: 2px solid #141414;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 1px 1px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home .logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 18px;
}

#n-questao {
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid #091A78;
    border-radius: 10px;
    padding: 5px 5px;
}

.respostas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.respostas .btn {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    background-color: #091A78;
    cursor: pointer;
    
}



.btn:hover {
    background: #4169E1;
    border-color: #4169E1;
}

.btn_proxima_questao {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #091A78;
    margin-top: 10px; /* Adiciona um espaço entre o botão e as respostas */
}

.btn_proxima_questao:hover {
    color: #000;
    background: #05a805;
    border-color: #05a805;
}

.button #start,
.submit-resposta,
.botao-jogar-novamente, #final,.next-resposta {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #091A78;
}

#start:hover{
    color: #000;
    background: #05a805;
    border-color:#05a805
}

.final{ 
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    background-color: #091A78;
    margin-top: 10px; /* Adiciona um espaço entre o botão e as respostas */
}
.final:hover {
    color: #000;
    background: #05a805;
    border-color:#05a805
}

.next-resposta:hover{
    color: #000;
    background: #edfd0f;
    border-color:#edfd0f
}

.botao-jogar-novamente:hover{
    background: #c641e1;
    border-color:#c641e1
}

.hide{
    display: none;
}

.questao{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.correto, .verde{
    background: #05a805;
}

.incorreto{
    background: #e60808;
}





